<%- include('head') %>
        <a href="/all"><button>All computers</button></a>
        <a href="/getone"><button>Get one computer</button></a>
        <a href="/insertform"><button>Add a new computer</button></a>
        <a href="/updateform"><button>Update computer data</button></a>
        <a href="/removeform"><button>Remove a computer</button></a>
    </main> 
</body>
</html>